/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #343a40; /* Color de fondo oscuro */
  color: #ffffff; /* Color de texto blanco */
}

.container {
  padding: 40px 0;
}

/* Estilos para la sección de Hero */
.hero {
  background-color: #17a2b8; /* Color de fondo celeste agua */
  padding: 100px 0;
}

.hero h1 {
  font-size: 3.5em;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2em;
}

/* Estilos para las secciones */
section {
  padding: 60px 0;
}

section h2 {
  color: #17a2b8; /* Color de texto celeste agua */
}

/* Estilos para los botones */
.btn-primary {
  background-color: #17a2b8; /* Color de fondo celeste agua para botones primarios */
  border-color: #17a2b8; /* Color del borde celeste agua para botones primarios */
}

.btn-primary:hover {
  background-color: #138496; /* Color de fondo más oscuro al pasar el ratón por encima */
  border-color: #138496; /* Color del borde más oscuro al pasar el ratón por encima */
}

/* Estilos para el footer */
.footer {
  background-color: #343a40; /* Color de fondo oscuro para el footer */
  padding: 40px 0;
}

.footer p {
  color: #ffffff; /* Color de texto blanco para el footer */
}

.footer a {
  color: #17a2b8; /* Color de enlace celeste agua para el footer */
}

.footer a:hover {
  color: #138496; /* Color de enlace más oscuro al pasar el ratón por encima */
}

/* Estilos para el formulario de contacto */
.form-control {
  background-color: #ffffff; /* Color de fondo blanco para los campos de formulario */
  color: #495057; /* Color de texto oscuro para los campos de formulario */
  border-color: #ced4da; /* Color del borde para los campos de formulario */
}

/* Estilos para las tarjetas */
.card {
  background-color: #ffffff; /* Color de fondo blanco para las tarjetas */
  margin-bottom: 30px;
  border: 1px solid #ced4da; /* Borde ligero para las tarjetas */
}

.card-title {
  color: #343a40; /* Color de título oscuro para las tarjetas */
}

.card-text {
  color: #6c757d; /* Color de texto gris oscuro para las tarjetas */
}

/* Estilos para los íconos de redes sociales */
.list-inline-item a {
  color: #17a2b8; /* Color celeste agua para los íconos de redes sociales */
}

.list-inline-item a:hover {
  color: #138496; /* Color más oscuro al pasar el ratón por encima de los íconos de redes sociales */
}
